<h1> Create a New Game </h1>

<%= form_for @game, url: game_path do |f| %>
  <% f.text_field :title %>
  <% f.text_field :description %>
  <% f.text_field :min_players %>
  <% f.text_field :max_players %>
  <% f.text_field :min_age %>
  <% f.text_field :max_time %>
  <%= f.submit "Submit" %>

<% end %>


